@font-face {
    src: url(fonts/OldStandardTT-Bold.ttf);
    font-family:osb;
}
@font-face {
    src: url(fonts/MAGNETOB.TTF);
    font-family:cur;
}

@font-face {
    src: url(fonts/BerkshireSwash-Regular.ttf);
    font-family:lightcur;
}

@font-face {
    src: url(fonts/COOPBL.TTF);
    font-family:boldcur;
}
@font-face {
    src: url(fonts/LATINWD.TTF);
    font-family:boldart;
}



body {
    background-image: url(image/bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;

}

header {
    display: flex;
    background-color: rgba(0 ,0 ,1 ,.70);
    border: 1px solid black;
margin: 0;
    text-align: center;
    justify-content: space-between;
    text-align: center;
    padding: 0;

}
.logo{
    height: 100%;
   border-radius: 20%;
    max-width: 200px;
    padding: 0;

}
header > h1 {

    color: white;
    font-size: 3.5rem;
    padding: 0;
    margin-right: 20%;;
        font-family:lightcur;
    letter-spacing: 10px;

}

.info > h2{
    background: none;
    font-size: 55px;
    color: aliceblue;
    font-style: oblique;
    text-decoration: underline;
    margin-top: 150px;
}
.para > p{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
     background-color: rgba(0 ,0 ,0 ,.30);
    border-radius: 50%;


}
.para :nth-child(1){
margin-top: 150px;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    display: inline-block;
    margin: 20px;
    font-size: 3vw;;
}
div > nav {
    background-color: rgba(0, 100, 100, .56);
    height: 100px;
    text-align: center;
}
.discountp{
    font-size: 35px;
    margin: 0;
    color: yellow;

}



a:hover {
    background-color: white;
transform: scale(1.3);
    color: black;

}
img{
   border-radius: 10px;
 height: auto;
    width: 96%;
    margin: 2%;
}

main > section{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(320px , 1fr));
    grid-gap: 4rem;
    margin: 40px;
}

h2 {
    color: white;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: gray;
    text-align: center;
    font-size: 40px;
    font-family:boldcur;
    border-radius: 25%;
    text-transform: capitalize;


}
h3{
   text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;

}
h4{
    margin-left: 20px;
    font-size: 20px;
    padding: 0;
    display: grid;

}
.menu{
     background-color: rgba(0 ,0 ,0 ,.30);
    font-size: 5vw;
    text-align: center;
    font-family: boldcur;
    color: white;
    margin: 0;

}


p{
   padding-top: 5px;
    font-size: 20px;
    margin-left: 20px;
     font-family:lightcur;
}
main.productList > section > h2 {
  grid-column: 1/-1;

}
main.productList{
     padding: 0% 10%;
}


.hidden {
    display: none;
}
.soldout{
    position: absolute;
    background-color: yellow;
    font-size: 45px;
    color: red;
    border: 1px dotted red;
    top: 17%;
    right: 5px;
    border-radius: 55px 0px;
    width: 200px;
    text-align: center;
font-family: inherit;
}

article.product {
box-shadow: 13px 16px 15px -14px rgba(0,0,0,0.77);

    border-radius: 30px;
    position: relative;
    background-color: silver;
    border: 2px solid black;
    transition: .5s;

}
article.product:hover{
    transform: scale(1.05);

}

html{
    scroll-behavior: smooth;
}

.price {
    border: 1px dotted black;
    width: 40%;
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 50px;
    text-align: center;
    height: 30px;

}
.but{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 4px;
     font-family:boldcur;
}
#veggifilter{
    margin: 15px;
}
summary{
    color: white;
    font-size: 20px;
}
.but:hover{
    transform: scale(1.08);
    width: 80%;
    background-color: aliceblue;
    color: black;
    margin-left: 5%;
}

.dispri{
    display: flex;
    justify-content: space-between;
}
button.active{
    background-color: aqua;
    color: black;
}

/**/
footer {
    height: 30vh;
    border: 2px solid white;
    background-color: aliceblue;
     background-color: rgba(0 ,0 ,0 ,.70);
    color: white;
    text-align: center;

}

footer > p {
    padding-top: 20px;
    margin: 0;
    justify-content: space-around;
    margin-top: 50px;

}
.hide {
  display: none;

}
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  padding: 2em;
}

/*page style*/
.page1{
    height: 100vh;
    margin: 0px;
    padding: 0;
background-image: url(image/bg1.jpg);

    background-position: center;
    background-size: cover;
   flex-direction: column;
    border-bottom: 2px solid white;
}

.old{
    text-decoration: line-through;
    color: red;
}
.modal-content{
    background-image: url(https://cdn.pixabay.com/photo/2017/10/22/21/02/food-2879265_1280.jpg) ;
    background-size: cover;
    background-position: center;


}
.modal-description{
         background-color: rgba(255 ,255 ,0 ,.15);
    margin: 0 10% ;
}
.modal-name {
    font-size: 45px;
}

.modal-price {
    font-size: 30px;
    margin-left: 15%;
    padding: 0;
    color: green;;

}
img.vegetarian {

    height: 42px;
    width: 100px;
    background-repeat: repeat-x;
}
@media screen and (max-width: 400px){
    header > h1 {
 justify-content: center;
        font-size: 30px;
        letter-spacing: 10px;
        padding: 0;
        margin-top: 0;
    }
    .info > h2{
     font-size: 36px;
        background-color: rgba(0,0,0,.56);
    }
    img .logo{
    height: 90%;
   border-radius: 20%;
    max-width:80px;
    padding: 0;
        margin: 0;

}
    main > section{
        margin: 0;
    }
 main.productList {
    padding: 0;
     margin-left: 0;

}
    h2{
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    article.product{
        margin: 0px;
        padding: 0px;
    }

    nav a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    display: inline-block;
    margin: 5px;
    font-size: 17px;
}
    div > nav {
      height: 40px;
        padding: 0;
        margin: 0;

    }
}
